html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  color: #717171;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #717171;
}

/* =================
        header
================== */

.header {
  width: 100%;
  height: 100vh;
  background: url("/images/Header.jpg") no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  width: 715px;
  margin: 0 auto;
}

.header__title {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: #282828;
  line-height: 1.25;
  margin: 0;
}

.button {
  cursor: pointer;
  outline: none;
  padding: 0;
  border: none;
}

.btn--1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  background-color: #8286a3;
}

.btn--1__img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn--2 {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ff6d6d;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header__text {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  color: #767779;
  font-weight: 400;
}

/* =================
  platforms-design
================== */

.platforms-design {
  width: 100%;
  min-height: 725px;
  display: flex;
  justify-content: space-between;
}

.platforms-design__inner {
  width: 62%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.platforms-design__img {
  width: 38%;
  min-height: 725px;
  background: url("/images/platforms-design/right_content.jpg") no-repeat;
  background-size: cover;
}

.platforms-design__title {
  margin: 190px 150px 0 150px;
  text-transform: uppercase;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
}

.platforms-design__subtitle {
  margin: 15px 150px 0 150px;
  color: #282828;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
}

.points {
  color: #ff6d6d;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
}

.platforms-design__text {
  margin: 45px 150px 45px 150px;
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

/* =================
      features
================== */

.features {
  width: 100%;
  height: 675px;
  background: url("/images/features/bg.jpg") center no-repeat;
  background-size: cover;
}

.features__title {
  text-transform: uppercase;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 135px;
}

.features__subtitle {
  color: #282828;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  margin-top: 15px;
}

.features__items {
  display: flex;
  justify-content: center;
}

.features__item {
  width: 360px;
  text-align: center;
}

.item__icon {
  width: 65px;
  margin-top: 90px;
}

.item__title {
  font-size: 22px;
  font-weight: 500;
  color: #282828;
  margin-top: 30px;
}

.item__text {
  font-size: 16px;
  color: #6e6e6d;
  line-height: 1.6;
  margin-top: 20px;
}

/* =================
  resposive-design
================== */

.resposive-design {
  min-height: 550px;
  width: 100%;
  background: url("/images/responsive-design/bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.resposive-design__macbook {
  height: 355px;
  width: 605px;
  margin: 90px 30px 0 0;
  display: inline-block;
}

.macbook {
  height: 355px;
  width: 605px;
}

.resposive-design__inner {
  display: inline-block;
  width: 500px;
}

.resposive-design__title {
  text-transform: uppercase;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  margin: 140px 0 25px;
}

.resposive-design__subtitle {
  color: #282828;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
}

.resposive-design__text {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
  margin-top: 35px;
}

/* =================
        team
================== */

.team {
  width: 100%;
  min-height: 645px;
  background: url("/images/team/bg.jpg") no-repeat;
  background-size: cover;
}

.team__items {
  display: flex;
  padding-top: 110px;
}

.team__item {
  width: 360px;
  text-align: center;
  padding: 0 10px;
  margin-right: 30px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__name {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.team__subtitle {
  margin-top: 10px;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
}

.team__text {
  margin-top: 30px;
  color: #b5b6b8;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
}

.team__logos {
  display: flex;
  justify-content: space-between;
  width: 1005px;
  margin: 0 auto;
  margin-top: 65px;
  align-items: center;
}

/* =================
    features-bot
================== */

.features-bot {
  width: 100%;
  height: 755px;
  background-color: #f6f5f3;
}

.features-bot__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 755px;
}

.features-bot__inner {
  margin: 0 auto;
  text-align: center;
  width: 750px;
  padding: 0 50px;
}

.features-bot__title {
  text-transform: uppercase;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  padding-top: 105px;
}

.features-bot__subtitle {
  color: #282828;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 15px;
}

.features-bot__text {
  font-size: 16px;
  color: #6e6e6d;
  line-height: 1.6;
  margin-top: 45px;
  font-weight: 500;
}

/* =================
      contacts
================== */

.contacts {
  min-height: 470px;
  width: 100%;
  background-color: #323969;
}

.contacts__title {
  text-transform: uppercase;
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  padding-top: 95px;
  text-align: center;
}

.contacts__subtitle {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  margin-top: 10px;
}

.contacts__form {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}

.form__name,
.form__email,
.form__password {
  border: 1px solid #999cb4;
  border-radius: 3px;
  height: 50px;
  width: 260px;
  background-color: #464c77;
  padding-left: 30px;
  color: #fff;
  outline: none;
}

.form__name::placeholder,
.form__email::placeholder,
.form__password::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.form__name,
.form__email {
  margin-right: 30px;
}

.btn--3 {
  width: 260px;
  height: 50px;
  background-color: #ff6d6d;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__other {
  margin-left: 35px;
  margin-top: 35px;
}

.contacts__arrow {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  position: relative;
}

.contacts__arrow::before {
  content: url("/images/contacts/ARROW.png");
  position: absolute;
  top: 5px;
  left: 0;
}

.contacts__terms {
  color: #a8aabc;
  margin-top: 50px;
  text-align: center;
}

/* =================
      footer
================== */

.footer {
  width: 100%;
  min-height: 330px;
  background: url("/images/footer/bg.jpg") no-repeat center;
  background-size: cover;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-top: 85px;
}

.inner__start {
  width: 260px;
  font-weight: 500;
  line-height: 1.8;
}

.inner__support {
  width: 165px;
  font-weight: 500;
  line-height: 2.3;
}

.inner__support__title {
  font-size: 22px;
  color: #000;
}

.inner__about {
  width: 165px;
  font-weight: 500;
  line-height: 2.3;
}

.inner__about__title {
  font-size: 22px;
  color: #000;
}

.inner__newsletter {
  width: 275px;
  font-weight: 500;
  line-height: 2.3;
}

.inner__newsletter__title {
  font-size: 22px;
  color: #000;
}

.inner__newsletter__subscribe {
  display: flex;
}

.subscribe__email {
  border: 1px solid #b8b8bf;
  border-radius: 3px 0 0 3px;
  height: 50px;
  width: 215px;
  padding-left: 30px;
  outline: none;
}

.subscribe__email::placeholder {
  content: "email";
  color: #b8b8bf;
  text-transform: uppercase;
}

.inner__newsletter__subscribe {
  position: relative;
}

.btn--subscribe {
  height: 50px;
  position: absolute;
  left: 213px;
}

.subscribe__img {
  height: 50px;
}

.inner__newsletter__social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social__dribbble,
.social__facebook,
.social__googleplus,
.social__twitter {
  margin: 0 15px;
}

/* @@@@@@@@@@@@@@@@@@
        Media
@@@@@@@@@@@@@@@@@@@ */

@media screen and (max-width: 1160px) {
  
.resposive-design{
  justify-content: space-between;
}

  .resposive-design__macbook {
    width: 505px;
    height: 305px;
  }
  
  .macbook {
    width: 505px;
    height: 305px;
  }

  .contacts__inner{
    justify-content: center;
  }

  .contacts__other{
    margin: 35px 30px;
  }

  .contacts__terms{
    padding: 10px 0 30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1065px) {
.platforms-design__img{
  width: 30%;
}

.platforms-design__inner{
width: 70%;
}

}

